#Frontend
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/.env*
Frontend/.vercel/
Frontend/.yarn/
Frontend/.turbo/
Frontend/.swc/
Frontend/package-lock.json
Frontend/yarn.lock
Frontend/pnpm-lock.yaml

#Backend
Backend/.venv/
Backend/__pycache__/
Backend/.pytest_cache/
Backend/.mypy_cache/
Backend/.env*
Backend/instance/
Backend/.DS_Store

#General
.vscode/
.env